Jinja2==2.6
Markdown==2.2.1
Pygments==1.6
Unidecode==0.04.12
argparse==1.2.1
blinker==1.2
docutils==0.10
feedgenerator==1.5
-e git://github.com/getpelican/pelican@964f7d96d6e505f8a6dea40cbdf7b8ab750abafc#egg=pelican-dev
pytz==2012j
six==1.2.0
smartypants==1.6.0.3
typogrify==2.0.0
wsgiref==0.1.2
