/* Pretty printing styles. Used with prettify.js. */

pre .str, code .str { color: #aad498; } /* string  - green */
pre .kwd, code .kwd { color: #71bebe; } /* keyword - light cyan */
pre .com, code .com { color: #c42003; } /* comment - dark red */
pre .typ, code .typ { color: #418179; } /* type - dark cyan */
pre .lit, code .lit { color: #963c59; } /* literal - dark pink */
pre .pun, code .pun { color: #fefefe; } /* punctuation - white */
pre .pln, code .pln { color: #fcfcee; } /* plaintext - white */
pre .tag, code .tag { color: #968a38; } /* html/xml tag    - light blue */
pre .atn, code .atn { color: #E28964; } /* html/xml attribute name  - khaki */
pre .atv, code .atv { color: #c5f779; } /* html/xml attribute value - green */
pre .dec, code .dec { color: #963c59; } /* decimal - blue */

pre.prettyprint, code.prettyprint {
        background-color: rgb(5, 5, 5);
        font-size: 95%;
        -moz-border-radius: 15px;
        -webkit-border-radius: 15px;
        -o-border-radius: 15px;
        -ms-border-radius: 15px;
        -khtml-border-radius: 15px;
        border-radius: 15px;
}

pre.prettyprint {
        width: relative;
        margin: 1em auto;
        padding: 5px 10px 5px;
        white-space: pre-wrap;
        line-height: 1.25em;
}


/* Specify class=linenums on a pre to get line numbering */
ol.linenums { margin-top: 0; margin-bottom: 0; color: #AEAEAE; } /* IE indents via margin-left */
li.L0,li.L1,li.L2,li.L3,li.L5,li.L6,li.L7,li.L8 { list-style-type: none }
/* Alternate shading for lines */
li.L1,li.L3,li.L5,li.L7,li.L9 { }

@media print {
  pre .str, code .str { color: #060; }
  pre .kwd, code .kwd { color: #006; font-weight: bold; }
  pre .com, code .com { color: #600; font-style: italic; }
  pre .typ, code .typ { color: #404; font-weight: bold; }
  pre .lit, code .lit { color: #044; }
  pre .pun, code .pun { color: #440; }
  pre .pln, code .pln { color: #000; }
  pre .tag, code .tag { color: #006; font-weight: bold; }
  pre .atn, code .atn { color: #404; }
  pre .atv, code .atv { color: #060; }
}

