<div style="font-size: 10px; text-align: center; position: right; padding: 2px 1px">
<table style="width: 15%;">
    <tr><td><a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/deed.en_GB"><img style="border-width:0" src="../theme/images/icons/cc-by-nc-sa.png" /></a>
<span property="dct:title" rel="dct:type"><a href="https://code.patternsinthevoid.net/">{{ SITENAME }}</a></span> by <a xmlns:cc="http://creativecommons.org/ns#" href="https://blog.patternsinthevoid.net" property="cc:attributionName" rel="cc:attributionURL">{{ AUTHOR }}</a> is licensed <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/deed.en_GB">CC-BY-NC-SA</a>.</td></tr>
</table>
</div>
