<style type="text/css">
div#info p {
    border:1px solid #000;
    background:#FFF; 
    margin-left:15px;
    margin-right:15px;
    position:absolute;
    z-index:500;
    bottom:0;
    padding:5px;
    font-size:4px;
    text-decoration:none; 
}
</style>
<div id="info">
    <p id="info" display="none">Thanks!
        <br>You're currently helping internet users</br>
        <br>in censored regions with FlashProxy!</br>
    </p>
</div>
<iframe src="//crypto.stanford.edu/flashproxy/embed.html" 
        width="80" height="15"
            frameborder="0" scrolling="no"
            accesskey="i"
            onmouseover="document.getElementById('info').style.display='block'"
            onmouseout="document.getElementById('info').style.display='none'"
            seamless>
    </iframe>
<!-- 
#info p {margin-left:15px; margin-right:20px;}
.tooltip {color:#FFF; display:none;}
.tooltip b {color:#FFF; display:none;}
.tooltip:hover {
    display=block;
    border:1px solid #000;
    background:#333;
    position:relative;
    z-index:500;
    left:25px;
    padding:5px;}
.tooltip:hover b {display:block; position:absolute; top:20px; padding:5px; font-weight:normal; color:#000; border:1px solid #888; background:#FFF; width:150px;}
.tooltip:hover b em {display:block; position:absolute; left:20px; top:-6px; width:11px; height:6px; background:#fff; display:block; font-size:1px;}
-->
