<script id='fbgyre6'>(
        function(i){
            var f,s=document.getElementById(i);
            f=document.createElement('iframe');
            f.src='//api.flattr.com/button/view/?uid=isislovecruft&button=compact&url='+encodeURIComponent(document.URL);
            f.title='Flattr';
            f.height=20;
            f.width=110;
            f.style.borderWidth=0;
            s.parentNode.insertBefore(f,s); })
('fbgyre6');
</script>
<noscript>
    <a href="https://flattr.com/submit/auto?user_id=isislovecruft&url=https%3A%2F%2Fblog.patternsinthevoid.net%2Findex.html"
    target="_blank"><img src="//api.flattr.com/button/flattr-badge-large.png"
    alt="Flattr this" title="Flattr this" border="0"></a>
</noscript>
