{% if GITHUB_URL %}
<a href="{{ GITHUB_URL }}">
    {% if GITHUB_POSITION != "left" %}
    <img style="position: absolute; top: 0; right: 0; border: 0; max-width: 48px;"
         src="https://blog.patternsinthevoid.net/theme/images/icons/github-tentacle-icon.png"
         alt="code." />
{% else %}
    <img style="position: absolute; top: 0; left: 0; border: 0; max-width: 48px;" 
         src="https://blog.patternsinthevoid.net/theme/images/icons/github-tentacle-icon.png"
         alt="code." />
    {% endif %}
</a>
{% endif %}
