{% extends "base.html" %}
{% block title %}Libris{% endblock %}
{% block content %}

<script type="text/javascript">
    function disp(s) {
        var win;
        var doc;
        win = window.open("", "WINDOWID");
        doc = win.document;
        doc.open("text/plain");
        doc.write("<pre>" + s + "</pre>");
        doc.close();
    }
</script>
<noscript>
    <div style="width:80%;">
        <p style="line-height:90%;margin:10px 10px 0px 10px;text-align:justify;text-indent:25px;">
            <small>
            <br>Hey, kudos! You don't run arbitrary scripts either!<br />
            <br>My apologies for the javascript on this page...it's 
            a function for click-to-display <a href="{{ SITEURL }}/{{ PUBLICATIONS_SRC }}">plaintext of the BibTex sources</a>
            for the references on this page. 
            <br>&#x24B6;&#38;&#x2665; {{ AUTHOR }}<br /></small>
        </p>
    </div>
</noscript>
<section id="content" class="body">
    <h1 class="entry-title">Publications</h1>
    <ul>
        {% for key, year, text, bibtex, pdf, cached, notes, dateread in publications %}
        <li id="{{ key }}">{{ text }}
            [&nbsp;<a href="javascript:disp('{{ bibtex|replace('\n', '\\n')|escape|forceescape }}');">Bibtex</a>&nbsp;]
            {% for label, target in [('PDF', pdf), ('Cached PDF', cached), ('Notes', notes)] %}
            {{ "[&nbsp;<a href=\"%s\">%s</a>&nbsp;]" % (target, label) if target }}
            {% endfor %}
            {% if dateread %}
            {{ "Read on %s" % dateread }}
            {% else %}
            {{ "Unread" }}
            {% endif %}
    </li>
    {% endfor %}
    </ul>
</section>
{% endblock %}
